body {
  font-family: 'Gazprombank Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Halvar Breit';
  font-weight: 700;
}

.app {
  max-height: 100vh;
  height: 100%;
}

.container {
  padding: 0 16px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text_center {
  text-align: center;
}
