//> Gazprombank Sans
  
@font-face {
  font-family: 'Gazprombank Sans';
  src: url('@/assets/fonts/Gazprombank Sans/WOFF2/Gazprombank Sans WOFF2 2-000/Gazprombank_Sans_Normal.woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gazprombank Sans';
  src: url('@/assets/fonts/Gazprombank Sans/WOFF2/Gazprombank Sans WOFF2 2-000/Gazprombank_Sans_Regular.woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}


//> Halvar Breit

@font-face {
  font-family: 'Halvar Breit';
  src: url('@/assets/fonts/Halvar/Halvar Web/Halvar Breitschrift-Black Slanted-Web.woff2');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
